/* utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
    /* height: 300px; */
}

/* general */
body {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --white: white;
    --red: red;
    --green: green;
}
.flex {
    display: flex;
}
.margin {
    margin: 0 10px;
}
/* nav header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #ff6801;
    color: var(--white);
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
    z-index: 100;
}
header li, header li a, header a i {
    color: var(--white);
    list-style-type: none;
    text-decoration: none;
    padding-right: 5px;
}
header li a {
    font-weight: bold;
}
header img {
    width: 150px;
}
/* main */
main {
    width: 75%;
    margin: 100px auto;
    min-width: 1170px;
}
.col {
    width: calc((100% - 20px) / 3);
    position: relative;
    cursor: pointer;
}
.col img {
    width: 100%;
}
.black-heart {
    display: block;
    position: absolute;
    top: 8px;
    right: 0px;
    background-color:var(--white);
    height: 25px;
    width: 25px;
    color: black;
    font-size: 18px;
    text-align: center;
}
.label {
    position: absolute;
    left: 0;
    bottom: 40px;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
}
.discount {
    background-color: var(--red);
    padding: 3px 5px;
}
.sostain {
    background-color: var(--green);
    padding: 3px 5px;
}